/* Use the local Jost font */
@font-face {
  font-family: "Jost";
  src: local("Jost"),
    url(./fonts/Jost/static/Jost-Regular.ttf) format("truetype");
  font-weight: normal;
}

/* Reset  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply font family to the higher elements */
body,
html {
  font-family: "Jost", sans-serif;
}
